.sidebar--wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;

  &:is(.open) {
    transform: translateX(0);

    &~.page--wrapper {
      filter: blur(4px);
    }
  }

  &:is(.closed) {
    transform: translateX(-100%);
    transition: all ease-in 150ms;

    &~.page--wrapper {
      filter: none;
    }
  }

  .sidebar {
    &:is(.open) {
      transform: translateX(0);
      transition: all ease-in 150ms;
    }
  }

}

.sidebar {
  position: absolute;
  background-color: #ffffff;
  max-width: 80%;
  height: 100vh;
  min-width: 400px;
  display: flex;
  flex-direction: column;
  transition: all ease-in 300ms;
  z-index: 2;

  &:is(.open) {
    transform: translateX(0);
  }

  &:is(.closed) {
    transform: translateX(-100%);
  }
}

.sidebar-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;

}

.sidebar-title {
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.5;
  color: #000000;
}
