@import '../assets/style/base/typography';
@import '../assets/style/abstract/variables';

.contacts-accordion--wrapper {
  width: $contact-width;
}

.contact--wrapper {
  border-top: 1px solid #0000000a;
  padding: 24px;
  display: flex;
  gap: 24px;
  max-width: 100%;
}

.contact-info {
  max-width: calc(100% - 108px);
  overflow: hidden;
  text-overflow: ellipsis;
}

.contact-phone,
.contact-fullname {

  max-width: 50%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.contact-fullname {
  @include usual-text;
}

.contact-controls {
  display: flex;
  gap: 8px;
}
