$text-color-black:#212529;
$disabled-color:#dee2e6;
$border-radius : 0.375rem;

.input-text {
  display: block;
  width: 100%;
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: $text-color-black;
  background-color: $disabled-color;
  background-clip: padding-box;
  border: 1px solid $disabled-color;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: $border-radius;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;

  &:focus {
    color: $text-color-black;
    background-color: #ffffff;
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 .25rem rgba(13, 110, 253, .25);
  }
}

.input--wrapper {
  margin-bottom: 1rem;
}

.sidebar-body {
  padding: 1.5rem;
  flex-grow: 1;
}

.select {
  display: block;
  width: 100%;
  padding: .375rem 2.25rem .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: $text-color-black;
  background: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 16 16%27%3e%3cpath fill=%27none%27 stroke=%27%23343a40%27 stroke-linecap=%27round%27 stroke-linejoin=%27round%27 stroke-width=%272%27 d=%27m2 5 6 6 6-6%27/%3e%3c/svg%3e");
  background-color: $disabled-color;
  background-repeat: no-repeat;
  background-position: right .75rem center;
  background-size: 16px 12px;
  border: 1px solid $disabled-color;
  border-radius: $border-radius;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.add-contact-form {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
}

.form-actions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
