.CloseBtn {
  box-sizing: content-box;
  width: 1em;
  height: 1em;
  padding: .25em .25em;
  border: 0;
  border-radius: .375rem;
  opacity: 0.5;
  cursor: pointer;
  background: url(../../assets/images/svg/close-btn.svg) center center no-repeat;

  &:hover {
    opacity: 1;
  }


}
